services:
    redis:
        image: redis:latest
        container_name: redis
        mem_limit: 512MB
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - redis
        command: ["redis-server", "--appendonly", "yes"]

volumes:
    redis_data:

networks:
    redis:
        driver: bridge